{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup{% if link.handle == 'servicios' %} header__submenu--services{% endif %}"
                role="list"
                tabindex="-1"
              >
                {%- assign is_services_menu = false -%}
                {%- if link.handle == 'servicios' -%}
                  {%- assign is_services_menu = true -%}
                {%- endif -%}

                {%- for childlink in link.links -%}
                  <li>
                    {%- if childlink.links == blank -%}
                      {%- if is_services_menu -%}
                        {%- assign service_logo = '' -%}
                        {%- assign service_description = '' -%}

                        {%- case forloop.index -%}
                          {%- when 1 -%}
                            {%- assign service_logo = 'https://cdn.shopify.com/s/files/1/0623/0851/5895/files/Logo_shopify.png?v=1770847170' -%}
                            {%- assign service_description = 'Creamos tu tienda Ecommerce lista para vender, con diseño profesional y optimizada para convertir cada visita en venta.' -%}
                          {%- when 2 -%}
                            {%- assign service_logo = 'https://cdn.shopify.com/s/files/1/0623/0851/5895/files/Logo_pagina_web.png?v=1770847170' -%}
                            {%- assign service_description = 'Diseñamos páginas web estratégicas y optimizadas para captar clientes y convertir visitas en resultados.' -%}
                          {%- when 3 -%}
                            {%- assign service_logo = 'https://cdn.shopify.com/s/files/1/0623/0851/5895/files/logo_web_corporativa.png?v=1773281281' -%}
                            {%- assign service_description = 'Creamos sitios corporativos modernos que presentan tu empresa de forma profesional y generan nuevas oportunidades de negocio.' -%}
                        {%- endcase -%}

                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="header__menu-item header__services-item link link--text focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {%- if service_logo != '' -%}
                            <img
                              class="header__services-logo"
                              src="{{ service_logo }}"
                              alt=""
                              width="72"
                              height="72"
                              loading="lazy"
                            >
                          {%- endif -%}
                          <span class="header__services-copy">
                            <span class="header__services-title">{{ childlink.title | escape }}</span>
                            {%- if service_description != '' -%}
                              <span class="header__services-description">{{ service_description }}</span>
                            {%- endif -%}
                          </span>
                        </a>
                      {%- else -%}
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                      {%- endif -%}
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </summary>
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="header__submenu list-menu motion-reduce"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
